In [1]:
import pandas as pd

In [2]:
# load different types of fintech data

STCOK_PRICE_DATA = "/kaggle/input/fintech-stock-price-data/EQUITY/AFRM.csv" # sample data

In [3]:
df = pd.read_csv(STCOK_PRICE_DATA)
df.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-01-13 00:00:00-05:00,90.900002,103.000000,90.010002,96.364998,25159000,0,0
1,2021-01-14 00:00:00-05:00,103.500000,137.979996,101.000000,114.940002,20858700,0,0
2,2021-01-15 00:00:00-05:00,123.054001,127.239998,107.000000,117.000000,8310700,0,0
3,2021-01-19 00:00:00-05:00,117.000000,117.675003,108.000000,110.989998,3304900,0,0
4,2021-01-20 00:00:00-05:00,110.000000,112.000000,103.250000,106.209999,5091400,0,0
5,2021-01-21 00:00:00-05:00,107.160004,109.900002,104.300003,108.970001,1735300,0,0
6,2021-01-22 00:00:00-05:00,107.190002,121.000000,107.190002,119.949997,4343500,0,0
7,2021-01-25 00:00:00-05:00,117.110001,123.448997,108.000000,112.699997,2660000,0,0
8,2021-01-26 00:00:00-05:00,113.839996,114.000000,109.510002,110.080002,1287400,0,0
9,2021-01-27 00:00:00-05:00,105.739998,108.900002,100.800003,105.290001,2259300,0,0

In [4]:
df.sample(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
351,2022-06-06 00:00:00-04:00,25.670000,26.290001,23.400000,23.719999,20033400,0,0
241,2021-12-28 00:00:00-05:00,104.820000,107.000000,99.924004,101.769997,5343600,0,0
14,2021-02-03 00:00:00-05:00,115.950996,115.989998,109.099998,110.949997,1451700,0,0
82,2021-05-12 00:00:00-04:00,54.444000,54.549999,48.630001,49.820000,5248200,0,0
314,2022-04-12 00:00:00-04:00,39.206001,40.310001,36.990002,37.480000,9102600,0,0

In [5]:
df["Stock Splits"].unique

<bound method Series.unique of 0      0
1      0
2      0
3      0
4      0
      ..
443    0
444    0
445    0
446    0
447    0
Name: Stock Splits, Length: 448, dtype: int64>

In [6]:
path = "/kaggle/input/fintech-stock-price-data/ETFs/"

In [7]:
df2 = pd.read_csv(path + "ARKF.csv")
df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
197,2021-10-25 00:00:00-04:00,157.270004,165.940002,156.800003,160.039993,11444500,0,0
262,2022-01-27 00:00:00-05:00,57.400002,57.830002,48.168999,51.009998,17812100,0,0
415,2022-09-07 00:00:00-04:00,22.240000,23.459999,21.900000,23.059999,8075800,0,0
332,2022-05-09 00:00:00-04:00,24.440001,24.530001,20.400000,20.590000,14192700,0,0
245,2022-01-03 00:00:00-05:00,102.000000,102.209999,94.750000,95.209999,8442700,0,0
418,2022-09-12 00:00:00-04:00,26.580000,27.260000,25.860001,26.790001,9458600,0,0
64,2021-04-16 00:00:00-04:00,70.000000,70.139999,67.180000,69.720001,1315300,0,0
284,2022-03-01 00:00:00-05:00,41.599998,43.490002,40.250000,42.360001,10326200,0,0
122,2021-07-09 00:00:00-04:00,64.410004,67.449997,63.900002,67.250000,2032600,0,0
213,2021-11-16 00:00:00-05:00,146.800003,153.750000,142.119995,151.289993,9302600,0,0

In [8]:
# Merging Datas
import os
import pandas as pd


def extract_company_name(file_name):
    return file_name.split('.')[0]


dfs = []


for file_name in os.listdir(path):
    if file_name.endswith('.csv'):
        df = pd.read_csv(os.path.join(path, file_name))
        company_name = extract_company_name(file_name)
        df['company_name'] = company_name
        dfs.append(df)

final_df = pd.concat(dfs, ignore_index=True)

In [9]:
final_df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,company_name
5014,2021-01-13 00:00:00-05:00,43.303058,43.435544,43.066481,43.123260,233800,0.0,0,FINX
958,2021-11-17 00:00:00-05:00,44.866147,44.866147,44.526371,44.526371,2300,0.0,0,KOIN
1500,2022-08-02 00:00:00-04:00,7.650000,8.285000,7.640000,8.110000,65200,0.0,0,BITQ
2789,2022-03-14 00:00:00-04:00,30.240000,30.459999,29.180000,29.450001,248500,0.0,0,BLOK
9048,2020-11-09 00:00:00-05:00,46.209999,46.209999,45.186001,45.186001,4500,0.0,0,EMFQ
9256,2021-09-08 00:00:00-04:00,48.279999,48.323002,48.279999,48.323002,200,0.0,0,EMFQ
419,2019-09-30 00:00:00-04:00,25.716808,25.723524,25.646766,25.723524,500,0.0,0,KOIN
7395,2021-10-04 00:00:00-04:00,68.699997,68.699997,66.519997,66.940002,77000,0.0,0,IPAY
3648,2020-08-11 00:00:00-04:00,123.171766,125.317492,122.825379,123.075554,109200,0.0,0,IYG
5789,2020-05-19 00:00:00-04:00,30.360001,30.360001,30.167999,30.167999,367,0.0,0,TPAY

In [10]:
# Define a custom function to create custom text for each row
def custom_text(row):
    return f"On {row['Date']}, {row['company_name']} opened trading at ${row['Open']} per share, quickly surged to a high of ${row['High']}, experienced a brief dip to ${row['Low']}, and closed the day at ${row['Close']}. The trading day saw robust activity with a total of {row['Volume']} shares exchanged. Additionally, shareholders received a dividend payment of ${row['Dividends']} per share."

final_df['custom_text'] = final_df.apply(custom_text, axis=1)

In [11]:
final_df["custom_text"][0]

'On 2018-01-30 00:00:00-05:00, KOIN opened trading at $23.594496997900908 per share, quickly surged to a high of $23.603957718240856, experienced a brief dip to $23.38636475931792, and closed the day at $23.457319259643555. The trading day saw robust activity with a total of 46300 shares exchanged. Additionally, shareholders received a dividend payment of $0.0 per share.'

In [12]:
# a customized funciton to implement the type of investment

def assign_comment(row):
    if row['Close'] < row['Open']:
        if row['Volume'] <= 10000:
            return "Not a good Investment"
        else:
            return "Pretty Good Investment"
    elif row['Close'] > row['Open']:
        if row['Volume'] <= 10000:
            return "Not a good Investment"
        else:
            return "Pretty Good Investment"
    elif row['Close'] == row['Open']:
        if row['Volume'] <= 10000:
            return "Not a good Investment"
        elif row['Volume'] >= 10000 :
            return "Pretty Good Investment"
    

        
final_df['Comment'] = final_df.apply(assign_comment, axis=1)

In [13]:
final_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,company_name,custom_text,Comment
0,2018-01-30 00:00:00-05:00,23.594497,23.603958,23.386365,23.457319,46300,0.0,0,KOIN,"On 2018-01-30 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment
1,2018-01-31 00:00:00-05:00,23.622880,23.631395,23.462051,23.594500,39700,0.0,0,KOIN,"On 2018-01-31 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment
2,2018-02-01 00:00:00-05:00,23.528274,23.613417,23.318251,23.348524,24900,0.0,0,KOIN,"On 2018-02-01 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment
3,2018-02-02 00:00:00-05:00,23.339064,23.339064,22.799815,22.828196,17100,0.0,0,KOIN,"On 2018-02-02 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment
4,2018-02-05 00:00:00-05:00,22.724131,22.894420,22.042973,22.090277,23500,0.0,0,KOIN,"On 2018-02-05 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment
...,...,...,...,...,...,...,...,...,...,...,...
9535,2022-10-17 00:00:00-04:00,18.971001,18.971001,18.971001,18.971001,100,0.0,0,EMFQ,"On 2022-10-17 00:00:00-04:00, EMFQ opened trad...",Not a good Investment
9536,2022-10-18 00:00:00-04:00,19.023001,19.023001,19.023001,19.023001,0,0.0,0,EMFQ,"On 2022-10-18 00:00:00-04:00, EMFQ opened trad...",Not a good Investment
9537,2022-10-19 00:00:00-04:00,18.690001,18.690001,18.606001,18.606001,1000,0.0,0,EMFQ,"On 2022-10-19 00:00:00-04:00, EMFQ opened trad...",Not a good Investment
9538,2022-10-20 00:00:00-04:00,19.070000,19.070000,18.739000,18.739000,2100,0.0,0,EMFQ,"On 2022-10-20 00:00:00-04:00, EMFQ opened trad...",Not a good Investment
9539,2022-10-21 00:00:00-04:00,18.938999,18.938999,18.938999,18.938999,100,0.0,0,EMFQ,"On 2022-10-21 00:00:00-04:00, EMFQ opened trad...",Not a good Investment

In [14]:
final_df["Comment"].unique

<bound method Series.unique of 0       Pretty Good Investment
1       Pretty Good Investment
2       Pretty Good Investment
3       Pretty Good Investment
4       Pretty Good Investment
                 ...
9535     Not a good Investment
9536     Not a good Investment
9537     Not a good Investment
9538     Not a good Investment
9539     Not a good Investment
Name: Comment, Length: 9540, dtype: object>

In [15]:

def custom_instruction(row):
    return f"Please evaluate the investment based on the open price, close price and the amount of investment on the volume. Write the ansewer in [Pretty Good Investment or Not a good Investment]"

final_df['instruction'] = final_df.apply(custom_instruction, axis=1)

In [16]:
# Select the two columns and rename them
new_df = final_df.loc[:, ['custom_text', 'Comment', 'instruction']].rename(columns={'custom_text': 'input', 'Comment': 'output'})

In [17]:
new_df

,input,output,instruction
0,"On 2018-01-30 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment,Please evaluate the investment based on the op...
1,"On 2018-01-31 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment,Please evaluate the investment based on the op...
2,"On 2018-02-01 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment,Please evaluate the investment based on the op...
3,"On 2018-02-02 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment,Please evaluate the investment based on the op...
4,"On 2018-02-05 00:00:00-05:00, KOIN opened trad...",Pretty Good Investment,Please evaluate the investment based on the op...
...,...,...,...
9535,"On 2022-10-17 00:00:00-04:00, EMFQ opened trad...",Not a good Investment,Please evaluate the investment based on the op...
9536,"On 2022-10-18 00:00:00-04:00, EMFQ opened trad...",Not a good Investment,Please evaluate the investment based on the op...
9537,"On 2022-10-19 00:00:00-04:00, EMFQ opened trad...",Not a good Investment,Please evaluate the investment based on the op...
9538,"On 2022-10-20 00:00:00-04:00, EMFQ opened trad...",Not a good Investment,Please evaluate the investment based on the op...
9539,"On 2022-10-21 00:00:00-04:00, EMFQ opened trad...",Not a good Investment,Please evaluate the investment based on the op...

In [18]:
new_df.to_csv("stock_price_fintech.csv", index=False)

In [19]:
import pandas as pd
data = pd.read_csv("/kaggle/input/fintech-stock-price-data/ETFs/ARKF.csv")

In [20]:
data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-02-04 00:00:00-05:00,19.837522,20.073683,19.834570,20.073683,47200,0.0,0
1,2019-02-05 00:00:00-05:00,20.152404,20.280325,20.103204,20.204557,110700,0.0,0
2,2019-02-06 00:00:00-05:00,20.191766,20.205542,19.985124,20.142565,45300,0.0,0
3,2019-02-07 00:00:00-05:00,19.965444,19.994963,19.680082,19.847363,58200,0.0,0
4,2019-02-08 00:00:00-05:00,19.680081,19.886721,19.630882,19.867043,18900,0.0,0

In [21]:
data["company_name"] = "ARKF"

In [22]:
data['custom_text'] = data.apply(custom_text, axis=1)

In [23]:
data['Comment'] = data.apply(assign_comment, axis=1)

In [24]:
data["custom_text"][0]

'On 2019-02-04 00:00:00-05:00, ARKF opened trading at $19.837522031897173 per share, quickly surged to a high of $20.073682785034183, experienced a brief dip to $19.83456976441762, and closed the day at $20.07368278503418. The trading day saw robust activity with a total of 47200 shares exchanged. Additionally, shareholders received a dividend payment of $0.0 per share.'